<h1>Contact Info</h1>
<p>We are a Web development company with HQ in Berlin</p>
<p>We are bulding this sample App for a virtual company that sells used bikes in Germany <a href="tel:+18000000">1800-00-00</a></p>

