<h2 id="order_index">Test...</h2>
<% @orders.each do |order| %>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-4">
				<p><strong>Product name: </strong><%= order.product.name %></p>
				<p><strong>Order ID: </strong><%= order.id %></p>
				<strong>User ID: </strong><%= order.user_id %>
			</div>
		</div>
	</div>
<% end %>
