<h2> Thank you for your purchase</h2>

<p><div><%= link_to 'Back', product_path(@product.id), class:"btn btn-primary", role:"button" %> <%= link_to 'All Products', products_path, class:"btn btn-default", role:"button" %></div> </p>