// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	padding: 1em;
}

.product_header {
	color: red;
}

.item_name {
	font-size: 1.7em;
	text-align: center;
}

.item_description {
	font-size: 1.2 em;
	text-align: justify;
}