// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
	padding: 1em;
}

.product_header {
	color: red;
}

.item_name {
	font-size: 1.7em;
	text-align: center;
}

.item_description {
	font-size: 1.2 em;
	border-width: thin 0px;
	border-style: solid;
	text-align: left;
}

.each_product{
	margin: .5em;
	padding: 1px;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
}

.img_product {
	border-radius: 10px 10px 0px 0px;
}

.item_price {
	border-style: solid;
	border-width: thin 0px;

}

.each_product span {
	margin: auto .5em;
}