// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; 

h1 {
	font-family: $font-stack; 
	font-size: 2.5em;
	text-align: center;
	color: blue;
}

h2 {
  font-family: $font-stack; 
  font-size: 2em;
  text-align: center;
}

p {
	font-size: 1.2em;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 80%;
    height: 80%;
    padding-left: 20%;
}

#row_title_contact {
  margin-bottom: 2%;
}

.contact_page {
  background-color: lavender;
}

.about-text {
  font-family: $font-stack; 
  font-size: 2em;
  text-align: center;
}

