<p id="notice"><%= notice %></p>

<h1 class="product_header">Listing Products</h1>


<div class="container-fluid">
  <div class="row row-eq-height">
  <% cache (cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
  </div>
  
</div>
<br>
